In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt

In [2]:
match=pd.read_csv("matches (2).csv")
delivery=pd.read_csv("deliveries.csv")

In [3]:
match.head()

,id,Season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,IPL-2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,IPL-2017,Pune,06-04-2017,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,IPL-2017,Rajkot,07-04-2017,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,IPL-2017,Indore,08-04-2017,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,IPL-2017,Bangalore,08-04-2017,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [4]:
delivery.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [5]:
total_score_df=delivery.groupby(['match_id','inning']).sum()['total_runs'].reset_index()

/var/folders/zk/yt14z40j2lb2lz548fqr3v9m0000gn/T/ipykernel_59439/2630719186.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  total_score_df=delivery.groupby(['match_id','inning']).sum()['total_runs'].reset_index()

In [6]:
total_score_df

      match_id  inning  total_runs
0            1       1         207
1            1       2         172
2            2       1         184
3            2       2         187
4            3       1         183
...        ...     ...         ...
1523     11413       2         170
1524     11414       1         155
1525     11414       2         162
1526     11415       1         152
1527     11415       2         157

[1528 rows x 3 columns]

In [7]:
match_df=match.merge(total_score_df[['match_id','total_runs']],left_on='id',right_on='match_id')

In [8]:
match_df

,id,Season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3,match_id,total_runs
0,1,IPL-2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN,1,207
1,1,IPL-2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN,1,172
2,2,IPL-2017,Pune,06-04-2017,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN,2,184
3,2,IPL-2017,Pune,06-04-2017,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN,2,187
4,3,IPL-2017,Rajkot,07-04-2017,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN,3,183
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1523,11413,IPL-2019,Visakhapatnam,08-05-2019,Sunrisers Hyderabad,Delhi Capitals,Delhi Capitals,field,normal,0,Delhi Capitals,0,2,RR Pant,ACA-VDCA Stadium,NaN,NaN,NaN,11413,170
1524,11414,IPL-2019,Visakhapatnam,10-05-2019,Delhi Capitals,Chennai Super Kings,Chennai Super Kings,field,normal,0,Chennai Super Kings,0,6,F du Plessis,ACA-VDCA Stadium,Sundaram Ravi,Bruce Oxenford,Chettithody Shamshuddin,11414,155
1525,11414,IPL-2019,Visakhapatnam,10-05-2019,Delhi Capitals,Chennai Super Kings,Chennai Super Kings,field,normal,0,Chennai Super Kings,0,6,F du Plessis,ACA-VDCA Stadium,Sundaram Ravi,Bruce Oxenford,Chettithody Shamshuddin,11414,162
1526,11415,IPL-2019,Hyderabad,12-05-2019,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,0,Mumbai Indians,1,0,JJ Bumrah,Rajiv Gandhi Intl. Cricket Stadium,Nitin Menon,Ian Gould,Nigel Llong,11415,152
1527,11415,IPL-2019,Hyderabad,12-05-2019,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,0,Mumbai Indians,1,0,JJ Bumrah,Rajiv Gandhi Intl. Cricket Stadium,Nitin Menon,Ian Gould,Nigel Llong,11415,157

In [9]:
match_df['team1'].unique()

array(['Sunrisers Hyderabad', 'Mumbai Indians', 'Gujarat Lions',
       'Rising Pune Supergiant', 'Royal Challengers Bangalore',
       'Kolkata Knight Riders', 'Delhi Daredevils', 'Kings XI Punjab',
       'Chennai Super Kings', 'Rajasthan Royals', 'Deccan Chargers',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Rising Pune Supergiants',
       'Delhi Capitals'], dtype=object)

In [10]:
teams = [
    'Sunrisers Hyderabad',
    'Mumbai Indians',
    'Royal Challengers Bangalore',
    'Kolkata Knight Riders',
    'Kings XI Punjab',
    'Chennai Super Kings',
    'Rajasthan Royals',
    'Delhi Capitals'
]

In [11]:
match_df['team1'] = match_df['team1'].str.replace('Delhi Daredevils','Delhi Capitals')
match_df['team2'] = match_df['team2'].str.replace('Delhi Daredevils','Delhi Capitals')

match_df['team1'] = match_df['team1'].str.replace('Deccan Chargers','Sunrisers Hyderabad')
match_df['team2'] = match_df['team2'].str.replace('Deccan Chargers','Sunrisers Hyderabad')

In [12]:
match_df.head()

,id,Season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3,match_id,total_runs
0,1,IPL-2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN,1,207
1,1,IPL-2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN,1,172
2,2,IPL-2017,Pune,06-04-2017,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN,2,184
3,2,IPL-2017,Pune,06-04-2017,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN,2,187
4,3,IPL-2017,Rajkot,07-04-2017,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN,3,183

In [13]:
match_df = match_df[match_df['team1'].isin(teams)]
match_df = match_df[match_df['team2'].isin(teams)]

In [14]:
match_df=match_df[match_df['dl_applied']==0]

In [15]:
match_df=match_df[['match_id','city','date','toss_winner','toss_decision','winner','team1','team2','total_runs','venue']]

In [16]:
match_df.head(5)

,match_id,city,date,toss_winner,toss_decision,winner,team1,team2,total_runs,venue
0,1,Hyderabad,05-04-2017,Royal Challengers Bangalore,field,Sunrisers Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,207,"Rajiv Gandhi International Stadium, Uppal"
1,1,Hyderabad,05-04-2017,Royal Challengers Bangalore,field,Sunrisers Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,172,"Rajiv Gandhi International Stadium, Uppal"
8,5,Bangalore,08-04-2017,Royal Challengers Bangalore,bat,Royal Challengers Bangalore,Royal Challengers Bangalore,Delhi Capitals,157,M Chinnaswamy Stadium
9,5,Bangalore,08-04-2017,Royal Challengers Bangalore,bat,Royal Challengers Bangalore,Royal Challengers Bangalore,Delhi Capitals,142,M Chinnaswamy Stadium
12,7,Mumbai,09-04-2017,Mumbai Indians,field,Mumbai Indians,Kolkata Knight Riders,Mumbai Indians,178,Wankhede Stadium

In [17]:
# First, create a helper function to label batting teams per inning
def label_batting_teams(row, inning):
    if row['inning1_team'] == row['team1']:
        return row['team1'] if inning == 1 else row['team2']
    else:
        return row['team2'] if inning == 1 else row['team1']

# Modify pivot_score_df to include team names
pivot_score_df = total_score_df.pivot_table(index='match_id', columns='inning', values='total_runs', aggfunc='first').reset_index()
pivot_score_df.columns = ['match_id', 'inning1_runs', 'inning2_runs', 'inning3_runs', 'inning4_runs', 'inning5_runs']

# Merge pivot_score_df with delivery to get team names for each inning
inning_teams = delivery[['match_id', 'inning', 'batting_team']].drop_duplicates().pivot(index='match_id', columns='inning', values='batting_team').reset_index()
inning_teams.columns = ['match_id', 'inning1_team', 'inning2_team', 'inning3_team', 'inning4_team', 'inning5_team']

# Merge the inning teams into pivot_score_df
pivot_score_df = pivot_score_df.merge(inning_teams, on='match_id', how='left')

# Merge this modified pivot_score_df with match_df
match_df = match_df.merge(pivot_score_df[['match_id', 'inning1_runs', 'inning2_runs', 'inning1_team', 'inning2_team']], on='match_id', how='left')

# Optionally, clean up the DataFrame by adjusting column orders or dropping unnecessary ones
match_df = match_df[['match_id', 'city', 'date', 'team1', 'team2', 'toss_winner', 'toss_decision', 'winner', 'venue', 'inning1_team', 'inning1_runs', 'inning2_team', 'inning2_runs']]

In [18]:
match_df

,match_id,city,date,team1,team2,toss_winner,toss_decision,winner,venue,inning1_team,inning1_runs,inning2_team,inning2_runs
0,1,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,Sunrisers Hyderabad,"Rajiv Gandhi International Stadium, Uppal",Sunrisers Hyderabad,207.0,Royal Challengers Bangalore,172.0
1,1,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,Sunrisers Hyderabad,"Rajiv Gandhi International Stadium, Uppal",Sunrisers Hyderabad,207.0,Royal Challengers Bangalore,172.0
2,5,Bangalore,08-04-2017,Royal Challengers Bangalore,Delhi Capitals,Royal Challengers Bangalore,bat,Royal Challengers Bangalore,M Chinnaswamy Stadium,Royal Challengers Bangalore,157.0,Delhi Daredevils,142.0
3,5,Bangalore,08-04-2017,Royal Challengers Bangalore,Delhi Capitals,Royal Challengers Bangalore,bat,Royal Challengers Bangalore,M Chinnaswamy Stadium,Royal Challengers Bangalore,157.0,Delhi Daredevils,142.0
4,7,Mumbai,09-04-2017,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,field,Mumbai Indians,Wankhede Stadium,Kolkata Knight Riders,178.0,Mumbai Indians,180.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1262,11413,Visakhapatnam,08-05-2019,Sunrisers Hyderabad,Delhi Capitals,Delhi Capitals,field,Delhi Capitals,ACA-VDCA Stadium,Sunrisers Hyderabad,171.0,Delhi Capitals,170.0
1263,11414,Visakhapatnam,10-05-2019,Delhi Capitals,Chennai Super Kings,Chennai Super Kings,field,Chennai Super Kings,ACA-VDCA Stadium,Delhi Capitals,155.0,Chennai Super Kings,162.0
1264,11414,Visakhapatnam,10-05-2019,Delhi Capitals,Chennai Super Kings,Chennai Super Kings,field,Chennai Super Kings,ACA-VDCA Stadium,Delhi Capitals,155.0,Chennai Super Kings,162.0
1265,11415,Hyderabad,12-05-2019,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,Mumbai Indians,Rajiv Gandhi Intl. Cricket Stadium,Mumbai Indians,152.0,Chennai Super Kings,157.0
1266,11415,Hyderabad,12-05-2019,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,Mumbai Indians,Rajiv Gandhi Intl. Cricket Stadium,Mumbai Indians,152.0,Chennai Super Kings,157.0

In [19]:
# Drop duplicates to ensure unique entries for each match
match_df = match_df.drop_duplicates(subset=['match_id', 'city', 'date', 'team1', 'team2'])

In [20]:
match_df

,match_id,city,date,team1,team2,toss_winner,toss_decision,winner,venue,inning1_team,inning1_runs,inning2_team,inning2_runs
0,1,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,Sunrisers Hyderabad,"Rajiv Gandhi International Stadium, Uppal",Sunrisers Hyderabad,207.0,Royal Challengers Bangalore,172.0
2,5,Bangalore,08-04-2017,Royal Challengers Bangalore,Delhi Capitals,Royal Challengers Bangalore,bat,Royal Challengers Bangalore,M Chinnaswamy Stadium,Royal Challengers Bangalore,157.0,Delhi Daredevils,142.0
4,7,Mumbai,09-04-2017,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,field,Mumbai Indians,Wankhede Stadium,Kolkata Knight Riders,178.0,Mumbai Indians,180.0
6,8,Indore,10-04-2017,Royal Challengers Bangalore,Kings XI Punjab,Royal Challengers Bangalore,bat,Kings XI Punjab,Holkar Cricket Stadium,Royal Challengers Bangalore,148.0,Kings XI Punjab,150.0
8,10,Mumbai,12-04-2017,Sunrisers Hyderabad,Mumbai Indians,Mumbai Indians,field,Mumbai Indians,Wankhede Stadium,Sunrisers Hyderabad,158.0,Mumbai Indians,159.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1257,11347,Mumbai,05-05-2019,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,field,Mumbai Indians,Wankhede Stadium,Kolkata Knight Riders,143.0,Mumbai Indians,137.0
1259,11412,Chennai,07-05-2019,Chennai Super Kings,Mumbai Indians,Chennai Super Kings,bat,Mumbai Indians,M. A. Chidambaram Stadium,Chennai Super Kings,136.0,Mumbai Indians,140.0
1261,11413,Visakhapatnam,08-05-2019,Sunrisers Hyderabad,Delhi Capitals,Delhi Capitals,field,Delhi Capitals,ACA-VDCA Stadium,Sunrisers Hyderabad,171.0,Delhi Capitals,170.0
1263,11414,Visakhapatnam,10-05-2019,Delhi Capitals,Chennai Super Kings,Chennai Super Kings,field,Chennai Super Kings,ACA-VDCA Stadium,Delhi Capitals,155.0,Chennai Super Kings,162.0
1265,11415,Hyderabad,12-05-2019,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,Mumbai Indians,Rajiv Gandhi Intl. Cricket Stadium,Mumbai Indians,152.0,Chennai Super Kings,157.0

In [21]:
most_runs_average_strikerate=pd.read_csv("most_runs_average_strikerate.csv")
teams_df=pd.read_csv("teams.csv")
teamwise_home_and_away=pd.read_csv("teamwise_home_and_away.csv")

In [22]:
most_runs_average_strikerate.head()

     batsman  total_runs  out  numberofballs    average  strikerate
0    V Kohli        5426  152           4111  35.697368  131.987351
1   SK Raina        5386  160           3916  33.662500  137.538304
2  RG Sharma        4902  161           3742  30.447205  130.999466
3  DA Warner        4717  114           3292  41.377193  143.286756
4   S Dhawan        4601  137           3665  33.583942  125.538881

In [23]:
most_runs_average_strikerate.shape

(516, 6)

In [24]:
teamwise_home_and_away.shape

(14, 7)

In [25]:
teamwise_home_and_away.head()

,team,home_wins,away_wins,home_matches,away_matches,home_win_percentage,away_win_percentage
0,Rising Pune Supergiant,5,5,8,8,62.500000,62.500000
1,Mumbai Indians,58,51,101,86,57.425743,59.302326
2,Chennai Super Kings,51,49,89,75,57.303371,65.333333
3,Delhi Capitals,3,7,6,10,50.000000,70.000000
4,Sunrisers Hyderabad,30,28,63,45,47.619048,62.222222